<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Majordomo_House::majordomo"
             title="Majordomo"
             module="Majordomo_House"
             sortOrder="51"
             resource="Majordomo_House::majordomo"/>
        <add id="Majordomo_House::house_list"
             title="Houses"
             module="Majordomo_House"
             sortOrder="10"
             action="majordomo/houses"
             resource="Majordomo_House::house_list"
             parent="Majordomo_House::majordomo"/>
        <add id="Majordomo_House::house_configuration"
             title="House Configuration"
             module="Majordomo_House"
             sortOrder="99"
             parent="Majordomo_House::majordomo"
             action="adminhtml/system_config/edit/section/house"
             resource="Majordomo_House::house_configuration"/>
    </menu>
</config>
